clint==0.5.1
decorator==4.4.1
Flask==1.1.1
Flask-RESTful==0.3.7
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pickleshare==0.7.5
prompt==0.4.0
ptyprocess==0.6.0
pyfiglet==0.8.post1
Pygments==2.5.2
pytz==2019.3
requests==2.22.0
six==1.14.0
traitlets>=4.3.3
urllib3
validators==0.14.2
wcwidth==0.1.8
Werkzeug==2.2.3
validators==0.14.2
